#public net.minecraft.world.item.crafting.ShapedRecipePattern data
public net.minecraft.advancements.critereon.StatePropertiesPredicate$PropertyMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$RangedMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$ExactMatcher
#public net.minecraft.client.gui.GuiGraphics blitTiledSprite(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIIIIIIIII)V
#public net.minecraft.client.gui.GuiGraphics sprites
#public net.minecraft.client.gui.GuiGraphics flushIfUnmanaged()V
#public net.minecraft.client.gui.GuiGraphics flushIfManaged()V
public-f net.minecraft.data.recipes.RecipeProvider m_6055_()Ljava/lang/String; # getName
public net.minecraft.server.level.WorldGenRegion f_143479_ # center
public net.minecraft.server.level.WorldGenRegion f_143481_ # writeRadiusCutoff
public net.minecraft.server.level.ServerChunkCache m_8456_(IILnet/minecraft/world/level/chunk/ChunkStatus;Z)Ljava/util/concurrent/CompletableFuture; # getChunkFutureMainThread
public net.minecraft.world.level.NaturalSpawner f_46979_ # SPAWNING_CATEGORIES
public net.minecraft.world.entity.monster.Creeper f_32274_ # DATA_IS_POWERED
